<!DOCTYPE html>

<html class="js no-touch borderimage generatedcontent details" style="">
    
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Duke Hackaton 2015</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">


<link data-turbolinks-track="true" href="/assets/fall2015/schedule.css" media="all" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<meta name="description" content="Duke Hackathon 2015 | Activities Calendar">

</head>
    
    
<body class="pace-done" style="font-family:'Raleway'">
    
<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
</div>
<div id="page">
    
<div id="content">

<div class="main-container" role="main">
<div class="site-wrapper main-content">
<div class="grid">
<div role="main" class="grid__item push--lap-and-up-one-tenth eight-tenths palm-one-whole">
<article class="page" id="post-18344">
<header class="header">
<h1 class="title" style="font-family:'Raleway'; margin:3em 0em 1em 0em; font-weight:700; background-color:transparent;">2015 HackDuke Calendar</h1>
<div class="grid">
<div class="grid__item one-third palm-one-whole">
</div>
</div>
</header>

<div class="content" style="background-color:#2a3139">

<div class="schedule-container">
    
<div class="schedule-date-container cf">
<div class="schedule__date-tabs">
<p class="tab--down js-date-tab scale-1 is-active" data-value="friday-2015-07-31">Sat Nov 7th</p>
<p class="tab--down js-date-tab scale-1" data-value="saturday-2015-08-01">Sun Nov 8th</p>
</div>
</div>
    
    
<table id="schedule-date-friday-2015-07-31" class="schedule__date scale-1 is-active" cellpadding="0" cellspacing="0" style="">
<tbody>
<tr class="schedule__header">
<th class="schedule__arrow--prev">&lt;</th>
<th class="schedule__times"></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18049" data-target-column="#schedule-column-date-friday-2015-07-31-location-18049">FCIEMAS<span class="schedule__location__sub-title">Floors 1,2,3</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18084" data-target-column="#schedule-column-date-friday-2015-07-31-location-18084">FCIEMAS<span class="schedule__location__sub-title">Schiciano <br>A || B</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18100" data-target-column="#schedule-column-date-friday-2015-07-31-location-18100">FCIEMAS<span class="schedule__location__sub-title">Entrance (E) || Basement (B)</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18027" data-target-column="#schedule-column-date-friday-2015-07-31-location-18027">Hudson<span class="schedule__location__sub-title">125</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18065" data-target-column="#schedule-column-date-friday-2015-07-31-location-18065">Teer<span class="schedule__location__sub-title">115 | 203</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18128" data-target-column="#schedule-column-date-friday-2015-07-31-location-18128">Twinnies Café<span class="schedule__location__sub-title"></span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18170" data-target-column="#schedule-column-date-friday-2015-07-31-location-18170">Bryan Center<span class="schedule__location__sub-title">Reynolds</span></th>

<th class="schedule__arrow--next">&gt;</th>
</tr>
<tr class="schedule__content">
    <th class="schedule__times">
    <ol class="schedule__timeslots">
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>10:00am</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>12:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>2:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>4:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>6:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>8:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>10:00pm</span></li>
        <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>00:00am</span></li>
    </ol>
    </th>
<td id="schedule-column-date-friday-2015-07-31-location-18049" class="schedule__location" data-schedule-page="0" data-location-id="18049">
<div class="sessions">
    
    <div class="session-wrapper" style="top: 6em; increments:0">
    <div id="session-18101" class="session" style="height: 8.875em; increments:8" data-target="#session-18101-details" data-session-slug="" data-talent-id="16542">
    <div class="session__text">
    <p class="session__title--small">Lunch &amp; Mingle (1st Floor)</p>
    <p class="session__time">11:00-12:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
        
    <div class="session-wrapper" style="top: 21em">
    <div id="session-18051" class="session" style="height: 63em" data-target="#session-18051-details" data-session-slug="" data-talent-id="16447">
    <div class="session__text">
    <p class="session__title">Hacking (All Floors)</p>
    <p class="session__time">1:30-00:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->

</div>
</td>
    
    
<td id="schedule-column-date-friday-2015-07-31-location-18084" class="schedule__location" data-schedule-page="0" data-location-id="18084">
<div class="sessions">
    <div class="session-wrapper" style="top: 6em">
    <div id="session-18085" class="session" style="height: 6em" data-target="#session-18085-details" data-session-slug="" data-talent-id="16449">
    <div class="session__text">
    <p class="session__title--small">Team Formation</p>
    <p class="session__time">11:00-12:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 21em">
    <div id="session-18085" class="session" style="height: 6em" data-target="#session-18085-details" data-session-slug="" data-talent-id="16449">
    <div class="session__text">
    <p class="session__title--small">Side A: Inequality
        <br>Side B: Education</p>
    <p class="session__time">1:30-2:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 28em">
    <div id="session-18083" class="session" style="height: 56em" data-target="#session-18083-details" data-session-slug="" data-talent-id="16482">
    <div class="session__text">
    <p class="session__title">Hacking</p>
    <p class="session__time">2:30-00:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
</div>
</td>
    
    
<td id="schedule-column-date-friday-2015-07-31-location-18100" class="schedule__location" data-schedule-page="0" data-location-id="18100">
<div class="sessions">
    <div class="session-wrapper" style="top: 0em; increments:0">
    <div id="session-18099" class="session" style="height: 5.875em; increments:6" data-target="#session-18099-details" data-session-slug="" data-talent-id="16858">
    <div class="session__text">
    <p class="session__title--small">Check-in (Entrance)</p>
    <p class="session__time">10:00-11:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 6em; increments:0">
    <div id="session-18101" class="session" style="height: 8.875em; increments:8" data-target="#session-18101-details" data-session-slug="" data-talent-id="16542">
    <div class="session__text">
    <p class="session__title--small">Lunch &amp; Mingle</p>
    <p class="session__time">11:00-12:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 25.5em; increments:0">
    <div id="session-18108" class="session" style="height: 5.875em; increments:12" data-target="#session-18108-details" data-session-slug="" data-talent-id="16446">
    <div class="session__text">
    <p class="session__title">Hacking</p>
    <p class="session__time">2:30-3:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    
    <div class="session-wrapper" style="top: 33em; increments:90">
    <div id="session-18106" class="session" style="height: 8.875em; increments:9" data-target="#session-18106-details" data-session-slug="" data-talent-id="16470">
    <div class="session__text">
    <p class="session__title">Dinner (Entrance)</p>
    <p class="session__time">6:00-7:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 60em; increments:75">
    <div id="session-18105" class="session" style="height: 8.875em; increments:9" data-target="#session-18105-details" data-session-slug="" data-talent-id="16500">
    <div class="session__text">
    <p class="session__title">Ladies Desssert Meetup (Entrance)</p>
    <p class="session__time">8:00-9:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 78em">
    <div id="session-18105" class="session" style="height: 6em" data-target="#session-18105-details" data-session-slug="" data-talent-id="16500">
    <div class="session__text">
    <p class="session__title">Basement: Nerf Gun War</p>
    <p class="session__time">11:00-00:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
</div>
</td>


<td id="schedule-column-date-friday-2015-07-31-location-18027" class="schedule__location" data-schedule-page="0" data-location-id="18027">
<div class="sessions">
    
    <div class="session-wrapper" style="top: 20em">
    <div id="session-18026" class="session" style="height:6em" data-target="#session-18026-details" data-session-slug="" data-talent-id="16541">
    <div class="session__text">
    <p class="session__title">Environment Talk</p>
    <p class="session__time">1:30-2:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 26.25em">
    <div id="session-18029" class="session" style="height: 6em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">Capital One Talk</p>
    <p class="session__time">2:30-3:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 32.5em">
    <div id="session-18029" class="session" style="height: 5.75em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">IBM Talk</p>
    <p class="session__time">3:30-4:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 38.5em">
    <div id="session-18029" class="session" style="height: 5.75em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">Esri Talk</p>
    <p class="session__time">4:30-5:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 44.75em">
    <div id="session-18029" class="session" style="height: 5.75em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">Facebook Talk</p>
    <p class="session__time">5:30-6:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->

    <div class="session-wrapper" style="top: 51em">
    <div id="session-18029" class="session" style="height: 5.75em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">Google Q &amp; A</p>
    <p class="session__time">6:30-7:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 57em">
    <div id="session-18029" class="session" style="height: 5.75em" data-target="#session-18029-details" data-session-slug="" data-talent-id="16538">
    <div class="session__text">
    <p class="session__title--small">Yik Yak Talk</p>
    <p class="session__time">7:30-8:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    
</div>
</td>

    
<td id="schedule-column-date-friday-2015-07-31-location-18065" class="schedule__location" data-schedule-page="0" data-location-id="18065">
<div class="sessions">
    <div class="session-wrapper" style="top: 20em">
    <div id="session-18064" class="session" style="height:6em" data-target="#session-18064-details" data-session-slug="" data-talent-id="16870">
    <div class="session__text">
    <p class="session__title--small">H &amp; W Talk</p>
    <p class="session__time">1:30-2:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 26.25em">
    <div id="session-18070" class="session" style="height: 33.75em; increments:6" data-target="#session-18070-details" data-session-slug="" data-talent-id="16870">
    <div class="session__text">
    <p class="session__title--small">115: Web Bootcamp
    <br>203: iOS Bootcamp</p>
    <p class="session__time">2:30-8:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
</div>
</td>


<td id="schedule-column-date-friday-2015-07-31-location-18128" class="schedule__location" data-schedule-page="0" data-location-id="18128">
<div class="sessions">
    <div class="session-wrapper" style="top: 39em">
    <div id="session-18127" class="session" style="height: 45em" data-target="#session-18127-details" data-session-slug="" data-talent-id="17892">
    <div class="session__text">
    <p class="session__title">Hacking</p>
    <p class="session__time">2:30-00:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
 
</div>
</td>
    
<td id="schedule-column-date-friday-2015-07-31-location-18170" class="schedule__location" data-schedule-page="0" data-location-id="18170">
<div class="sessions">
    <div class="session-wrapper" style="top: 6em; increments:0">
    <div id="session-18101" class="session" style="height: 8.875em; increments:8" data-target="#session-18101-details" data-session-slug="" data-talent-id="16542">
    <div class="session__text">
    <p class="session__title--small">Lunch &amp; Mingle</p>
    <p class="session__time">11:00-12:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 15em">
    <div id="session-18173" class="session" style="height: 6em" data-target="#session-18173-details" data-session-slug="" data-talent-id="16462">
    <div class="session__text">
    <p class="session__title">Opening Ceremony</p>
    <p class="session__time">12:30-1:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->

</div>
</td>
   


</tr>
</tbody>
</table>
    
    
<table id="schedule-date-saturday-2015-08-01" class="schedule__date scale-1" cellpadding="0" cellspacing="0" style="display: none;">
<tbody>
<tr class="schedule__header">
<th class="schedule__arrow--prev">&lt;</th>
<th class="schedule__times"></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18049" data-target-column="#schedule-column-date-saturday-2015-08-01-location-18049">FCIEMAS<span class="schedule__location__sub-title">Floors 1,2,3</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18084" data-target-column="#schedule-column-date-saturday-2015-08-01-location-18084">FCIEMAS<span class="schedule__location__sub-title">Schiciano <br>A || B</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18100" data-target-column="#schedule-column-date-saturday-2015-08-01-location-18100">FCIEMAS <span class="schedule__location__sub-title">Entrance</span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18027" data-target-column="#schedule-column-date-saturday-2015-08-01-location-18027">Twinnies Café<span class="schedule__location__sub-title"></span></th>

<th class="schedule__location" data-schedule-page="0" data-location-id="18065" data-target-column="#schedule-column-date-saturday-2015-08-01-location-18065">Bryan Center<span class="schedule__location__sub-title">Reynolds</span></th>

<th class="schedule__arrow--next">&gt;</th>
</tr>
    

<tr class="schedule__content">
<th class="schedule__times">
    <ol class="schedule__timeslots">
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>00:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>2:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>4:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>6:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>8:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>10:00am</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>12:00pm</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>2:00pm</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>4:00pm</span></li>
    <li class="schedule__timeslot" style="padding: 2em 0; line-height: 2;"><span>6:00pm</span></li>
    </ol>
</th>
    
<td id="schedule-column-date-saturday-2015-08-01-location-18049" class="schedule__location" data-schedule-page="0" data-location-id="18049">
<div class="sessions">
    
    <div class="session-wrapper" style="top:0em">
    <div id="session-18056" class="session" style="height: 72em" data-target="#session-18056-details" data-session-slug="" data-talent-id="16454">
    <div class="session__text">
    <p class="session__title--small">Hacking</p>
    <p class="session__time">00:00-12:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 75em">
    <div id="session-18055" class="session" style="height: 6em" data-target="#session-18055-details" data-session-slug="" data-talent-id="16464">
    <div class="session__text">
    <p class="session__title--small">Expo (Part 1)</p>
    <p class="session__time">12:30-1:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 84em">
    <div id="session-18054" class="session" style="height:6em" data-target="#session-18054-details" data-session-slug="" data-talent-id="16501">
    <div class="session__text">
    <p class="session__title">Expo (Part 2)</p>
    <p class="session__time">2:00-3:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
</div>
</td>


<td id="schedule-column-date-saturday-2015-08-01-location-18084" class="schedule__location" data-schedule-page="0" data-location-id="18084">
<div class="sessions">
    
    <div class="session-wrapper" style="top: 0em">
    <div id="session-18109" class="session" style="height: 72em" data-target="#session-18109-details" data-session-slug="" data-talent-id="16546">
    <div class="session__text">
    <p class="session__title--small">Hacking</p>
    <p class="session__time">00:00-12:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    
    <div class="session-wrapper" style="top: 75em">
    <div id="session-18091" class="session" style="height: 18em" data-target="#session-18091-details" data-session-slug="" data-talent-id="16467">
    <div class="session__text">
    <p class="session__title">Lunch</p>
    <p class="session__time">12:30-3:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
</div>
</td>
    
    
<td id="schedule-column-date-saturday-2015-08-01-location-18100" class="schedule__location" data-schedule-page="0" data-location-id="18100">
<div class="sessions">
    
    <div class="session-wrapper" style="top: 0em">
    <div id="session-18113" class="session" style="height: 6em" data-target="#session-18113-details" data-session-slug="" data-talent-id="16495">
    <div class="session__text">
    <p class="session__title">Midnight Snack</p>
    <p class="session__time">00:00-1:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 54em">
    <div id="session-18110" class="session" style="height: 6em" data-target="#session-18110-details" data-session-slug="" data-talent-id="16513">
    <div class="session__text">
    <p class="session__title">Breakfast</p>
    <p class="session__time">9:00-10:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
    <div class="session-wrapper" style="top: 105em">
    <div id="session-18114" class="session" style="height: 5em" data-target="#session-18114-details" data-session-slug="" data-talent-id="16514">
    <div class="session__text">
    <p class="session__title">Departure</p>
    <p class="session__time">5:30-6:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
</div>
</td>
    
    
<td id="schedule-column-date-saturday-2015-08-01-location-18027" class="schedule__location" data-schedule-page="0" data-location-id="18027">
<div class="sessions">
    
    <div class="session-wrapper" style="top: 0em">
    <div id="session-18034" class="session" style="height: 48em" data-target="#session-18034-details" data-session-slug="" data-talent-id="17698">
    <div class="session__text">
    <p class="session__title">Hacking</p>
    <p class="session__time">00:00-8:00</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
</div>
</td>
    
    
<td id="schedule-column-date-saturday-2015-08-01-location-18065" class="schedule__location" data-schedule-page="0" data-location-id="18065">
<div class="sessions">
    
    <div class="session-wrapper" style="top:99em">
    <div id="session-18076" class="session" style="height: 6em" data-target="#session-18076-details" data-session-slug="" data-talent-id="16873">
    <div class="session__text">
    <p class="session__title">Closing Ceremony</p>
    <p class="session__time">4:30-5:30</p>
    </div>
    <span class="btn--info"></span>
    </div><!-- /.session -->
    </div><!-- /.session-wrapper -->
    
</div>
</td>


</tr>
    
</tbody>
</table>
    



<div class="schedule-date-container--bottom cf">
<div class="schedule__date-tabs">
<p class="tab--up js-date-tab scale-1 is-active" data-value="friday-2015-07-31" style="">Sat Nov 7th</p>
<p class="tab--up js-date-tab scale-1" data-value="saturday-2015-08-01" style="">Sun Nov 8th</p>
</div>
</div>
</div>


<h2 id="autographs" class="divider--title" style="font-weight: 700"><span>Other Activities</span></h2>

<div class="grid">
    
<div class="grid__item one-half">
<h3 align="center" style="font-weight: 700">Saturday</h3>
<ul class="styled">
<li style="color: #fff">3:30PM - 4:30PM | <a>Hack n Tell</a><br>Location: Hudson 207</li>
<li style="color: #fff">10:00PM - 11:00PM | <a>Cat Cookie Decoration</a><br>Location: Engineering Quad</li>
</ul>
</div>

    
<div class="grid__item one-half">
<!--
<h3 align="center">Sunday</h3>
<ul class="styled">
<li>? | <a>?</a></li>
<li>? | <a>?</a></li>
</ul>
-->
</div>
    
<h3 align="center" style="font-weight: 700">FCIEMAS: Fitzpatrick CIEMAS 101 Science Dr. Durham, NC 27708</h3>
    
</div>

    
<h2 id="autographs" class="divider--title" style="font-weight: 700"><span>Food</span></h2>

    
<div class="grid">
    
<div class="grid__item one-half">
<h3 align="center" style="font-weight: 700">Saturday</h3>
<ul class="styled">
<li style="color: #fff">11:00AM - 12:30PM | <a>Lunch</a> 
    <br>Non-vegetarians: Chik-Fil-A (Grilled Chicken Cool Wraps, Chilled Grilled Chicken Sub Sandwichs)
    <br>Vegetarians: Chipotle (Vegetarian Burritos by the box)</li>
<li style="color: #fff">6:00PM - 7:30PM | <a>Dinner</a>
    <br>Mixed Korean BBQ: Bulgogi, Chicken, Spicy Pork and Tofu Bimbimbap</li>
<li style="color: #fff">8:00PM - 9:00PM | <a>Ladies Dessert Meet Up</a>
    <br>Scratch Baking: Chocolate Chess and Lemon Chess Pies</li>
</ul>
</div>

    <!--
<div class="grid__item one-third"></div>   --> 
    
<div class="grid__item one-half">
<h3 align="center" style="font-weight: 700">Sunday</h3>
<ul class="styled">
<li style="color: #fff">00:00AM - 1:00AM | <a>Midnight Snack</a>
    <br>Papa Johns: Cheese, Sausage, Pepperoni Pizzas</li>
<li style="color: #fff">9:15AM - 10:30AM | <a>Breakfast</a>
    <br>Costco Haul: Cereal, Bagels, Cream Cheese, Yogurt, Fruit</li>
<li style="color: #fff">11:00AM - 12:00PM | <a>Lunch</a>
    <br>Whole Foods: Italian Sausage, Beef, Spinach and Cheese Lasagnas</li>
</ul>
</div>
    
</div>

</div>
</article>

</div>
</div>
</div>
</div>
</div>
</div>

<script data-turbolinks-track="true" src="/assets/calendar_aux.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/calendar_min.js?body=1"></script>

</body>
</html>
